@using NonProfitAccountSystem.Models
@model IEnumerable<tbl_Subscriber>
@{
    ViewBag.Title = "Subscriber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>@ViewBag.Title</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title">@ViewBag.Title</div>
        <div class="row row-cols-lg-auto g-1 align-items-center mt-3">
            <div class="col" aria-action="Add">
                <p>
                    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-success" })
                </p>
            </div>
        </div>
        <div class="table-responsive">
            <table id="data" class="table table-light table-hover table-striped" style="font-size:0.9rem;">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Subscriber)</th>
                        <th class="text-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Subscriber)</td>
                            <td class="text-end">
                                <div class="filter">
                                    <a class="text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li aria-action="Edit"><a href="@Url.Action("Edit", new { ID = item.ID })" class="dropdown-item" title="Edit/Modify"><i class="fa fa-edit me-2" style="font-size: 0.8rem;"></i>Edit</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#data').DataTable({
            ordering: false,
            searching: true
        });

    </script>
}